*.bak
*.swp
*.tmp
*~.nib
*.iml
*.launch
*.log
.lh/*
db/
db.version
.classpath
.DS_Store
.gradletasknamecache
.externalToolBuilders/
.gradle/
.idea/
.loadpath
.metadata
.prefs
.project
.recommenders/
.settings
.springBeans
.vertx
bin/
local.properties
target/
tmp/
**/build/
out/
*.vscode/
gradle/flow/
*.rlib
*.d
*.a
*.class
scripts/.java-version
**/src/jmh/generated_tests/
**/src/jmh/generated/*
hs_err_pid*
/shomei.db
node_modules
/**/build/
